[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "fabR"]
	path = fabR
	url = https://github.com/guifabre/fabr
	shallow = true
	registered = true
